  <!-- Tab Top bar -->
  <nav section id="Home" class="topbar">

  <a class="logo" href="/" aria-label="Home">25 Collective Co.</a>

    <div class="menu">
      <a href="/#projects" class="tab-link">Projects</a>
      <a href="/#about" class="tab-link">About</a>
      <a href="/blog" class="tab-link">Blog</a>
      <a href="/#contact" class="tab-link">Contact</a>
    </div>
  </nav>